
.search-content{
    position: relative;
}

.search-words{
    position: absolute;
    right: 1.4rem;
    top:0.4rem;
}

.login-form{
    position: relative;
    top:1rem;
}

.login-form input{
    border: 1px solid #ccc;
}

.login-form button{
    margin-top: 2rem;
    height: 1.5rem;
    width: 5rem;
    border: 0px;
    border-radius: 0.5rem;
    background-color: #327ab8;
}

.error{
    padding-top: 2rem;
    margin: 0 auto;
    color: crimson;
}